.order {
  width: 100%;
  /*height: 150vh;*/
  background: #fce3fe;
  padding-top: 40px;
  padding-bottom: 100px;
}
.order a {
  text-decoration: none;
}
.order-container {
  width: 45vw;
  /*height: 130vh;*/
  background: white;
  margin: auto;
  padding: 40px 60px;
}
.order-container h1 {
  margin: 20px 0px;
}
.order-fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
}
.order-fields input {
  height: 24px;
  padding: 20px;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  outline: none;
  color: #5c5c5c;
  font-size: 18px;
}
.order-container button {
  width: 100%;
  height: 72px;
  color: white;
  background: #ff4141;
  margin-top: 10px;
  border: none;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

.form-group {
  gap: 5px;
}
.form-control {
  float: left;
}

#autocomplete {
  width: 100%;
  margin-top: 20px;
}

#inputCity {
  width: 67%;
  margin-right: 12px;
}

#inputZip {
  width: 30%;
}
@media only screen and (max-width: 800px) {
  .signup-container {
    width: 70vw;
    padding: 20px 50px;
  }
}
